<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create order</title>
</head>
<body>
<form action="#" th:action="@{/order-update}" th:object="${order}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="nameOrder">Name Order</label>
    <input type="text" th:field="*{nameOrder}" id="nameOrder" placeholder="Name Order">
    <br/>
    <label for="amountOrder">Amount Order</label>
    <input type="text" th:field="*{amountOrder}" id="amountOrder" placeholder="Amount Order">
    <br/>
    <label for="client_id">Client Id</label>
    <input type="text" th:field="*{clientId}" id="client_id" placeholder="Id Client">
    <br/>
    <input type="submit" value="Update order">
</form>
</body>
</html>